wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/updraft/
wp-content/backup-*/
*.log
*.sql
*.zip
*.tar
*.gz
wp-config.php
wp-config-sample.php

# Fichiers secrets à ignorer
*.env
*.json
*.txt